---
import "../styles/global.css";
---

<!doctype html>
<html lang="ur" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>OppWatch - اردو خبریں</title>
    </head>
    <body class="bg-slate-50 text-slate-900 font-sans antialiased">
        <slot />
    </body>
</html>
